.container{
    max-width: 650px;
}
body{
    background-color: black;
}
.btn{
    background: mediumpurple;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}
h1{
    color: whitesmoke;
}
.my-2{
    color: whitesmoke;
}
.username{
    font-weight: bold;
}
.time{
    font-size: 0.7em;
    color: rgb(162, 162, 162);
}
.update-mssg{
    color: lightgrey;
    text-align: center;
    margin: 20px auto;
    transition: opacity 6s;
}