.container{
    max-width: 650px;
}
body{
    background-color: black;
}
.btn{
    background: mediumpurple;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}
h1{
    color: whitesmoke;
}
.my-2{
    color: whitesmoke;
}